.filter-container {
    margin: 16px 0 18px;
}

.filter-container form {
    justify-content: flex-start;
}

.filter-container input,
.filter-container select {
    min-width: 150px;
}

.transactions-container table td:nth-child(5) {
    min-width: 280px;
}
